@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333333;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
#navbar {
    align-content: space-between;
    align-items: center;
    background-color: rgba(51,51,51,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 7vh;
    min-height: 54px;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

#navbar-logo {
    flex: 1;
    padding-left: 5%;
    text-align: left;
}

#navbar-logo > a {
    border: 2px solid white;
    border-radius: 2px;
    /* background: linear-gradient(90deg,#333333,#666666); */
    color: #fff;
    display: inline-block;
    font-family: 'Black Ops One', cursive;
    font-size: 26px;
    font-weight: bolder;
    text-decoration: none;
    padding: 2px 5px;
}

#navbar-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0 auto;
}

#navbar-links > li {
    display: inline-block;
    list-style: none;
    padding: 0 5%;
}

#navbar-links > li > a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
    transition: ease 0.3s;
}

#navbar-links > li > a:hover {
    opacity: 1;
    font-weight: bolder;
}

#navbar-contacts {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10%;
}

#navbar-contacts > li {
    list-style: none;
    margin: 0 10px;
}

#navbar-contacts > li > a > img {
    height: 40px;
    width: 40px;
}

/* Welcome Section */
#welcome-section {
    min-height: 680px;
    height: 100vh;
    position: relative;
    width: 100%;
    min-width: 1000px;
}

#welcome-section > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

#welcome-section > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#welcome-section > svg > path {
    fill: white;
    fill-opacity: 0.05;
}

#welcome-section > h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin: 0 auto;
    padding-top: 20vh;
    text-align: center;
    width: 40%;
}

#welcome-section > p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 10px;
    text-align: justify;
    width: 60%;
}

/* Projects */
#projects {
    display: grid;
    grid-template-areas: 
        "header header"
        "project1 project2"
        "project3 project4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    justify-items: center;
    align-items: center;

    width: 100%;
    min-height: 700px;
}

#projects > h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: bolder;
    text-align: center;
    grid-area: header;
}

#projects .project-tile {
    height: 90%;
    width: 90%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#projects .project-tile > div {
    position: absolute;
    background: rgba(0,0,0,0.8);
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 50%;
    left: 0;
    opacity: 0;
    top: 50%;
    transition: 1s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

#projects .project-tile > div:hover {
    opacity: 1;
}

#projects .project-tile > div > h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

#projects .project-tile > div > p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    text-align: center;
    flex: 1;
}

#projects .project-tile > div .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 100px;
    width: 20%;
    flex: 1;
}

#projects .project-tile > div .buttons > a > img {
    width: 40px;
    height: 40px;
    opacity: 0.6;
}

#project1 {
    grid-area: project1;
    background: url('./images/technical-documentation.png')
}

#project2 {
    grid-area: project2;
    background: url('./images/product-landing-page.png');
}

#project3 {
    grid-area: project3;
    background: url('./images/survey-page.png');
}

#project4 {
    grid-area: project4;
    background: url('./images/tribute-page.png');
}